/*
	Dynamic: Modals
	Version 1.0
	Date: 8-17-2016
	Author: Corey M. Capetillo
	8-17-2016:
		- Abstract modals outside of original file
*/
.rc_modal {
	display: none;
	overflow: auto;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $zindex-modal;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	&__close {
		font-family: fontawesome;
		position: absolute;
		top: 30px;
		right: 30px;
		border: 0;
		padding: 0;
		background: transparent;
		outline: 0;
		cursor: pointer;
		text-align: right;
		z-index: $zindex-modal;
		&:before {
			content: "\f00d";
			font-size: 24px;
		}
	}
	&__title {
		padding-right: 42px;
	}
	&__content {
		position: relative;
		background-color: #ffffff;
		background-clip: padding-box;
		outline: 0;
		padding: 35px 30px;
		img {
			max-width: 100%;
			height: auto;
		}
		h1, .h1,
		h2, .h2,
		h3, .h3,
		h4, .h4,
		h5, .h5 {
			color: #424242;
		}
		h3, .h3 {
			font-family: 'ralewaysemibold', arial, sans-serif;
		}
	}
	&--small {
		@media (min-width: 768px) {
			width: 300px;
		}
	}
	&--large {
		@media (min-width: 992px) {
			width: 900px;
		}
	}
}

.rc_modal {
	&.rc_fade .rc_modal__dialog {
		transform: translate(0, -25%);
		transition: transform 0.3s ease-out;
	}
	&.rc_in .rc_modal__dialog {
		transform: translate(0, 0);
	}
	&__dialog {
		position: relative;
		width: auto;
		margin: 10px;
		@media (min-width: 768px) {
			width: 700px;
			margin: 4% auto;
		}
	}
}

.rc_modal__open {
	overflow: hidden;
	.rc_modal {
		overflow-x: hidden;
		overflow-y: auto;
	}
}

.rc_modal__backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $zindex-modal-background;
	background-color: #000;
	&.rc_fade {
		opacity: 0;
		filter: alpha(opacity=0);
		transition: opacity 0.2s linear;
	}
	&.rc_in,
	&.rc_fade.rc_in {
		opacity: 0.7;
		filter: alpha(opacity=70);
	}
}

.rc_modal__scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

.rc_modal__actions {
	@extend .form__actions;
	margin-top: 0 !important; // Temporary patch -- remove when we stop relying on .new, or margin is seperated from .form__actions
	margin-bottom: 0 !important; // Temporary patch -- remove when we stop relying on .new, or margin is seperated from .form__actions
	.button {
		@extend .button--large;
	}
}

.fade,
.rc_fade {
	opacity: 0;
	transition: opacity 0.2s linear;
	&.in,
	&.rc_in {
		opacity: 1;
	}
}