/*
	8-10-16:
		- Move the variables to the top of the page
		- Remove unused lines of CSS
		- This page now functions a little more similair to Tooltips. The goal is to unify this with that.
	9-2-16:
		- Expand the tooltip, supporting top, right, bottom, left popup placement
*/
//
// Popovers
// --------------------------------------------------
$popover-bg: #424242;
$border-radius-large: 0;
$popover-arrow-color: #424242;
$popover-title-bg: #424242;
$popover-arrow-width: 10px;

$popover-arrow-size: 10px;
$popover-max-width: 500px;

$popover-arrow-padding: 13px;
$popover-arrow-offset: 2px;

.popover-button {
	width: 14px;
	height: 16px;
	color: #424242;
	position: relative;
	cursor: pointer;
	display: inline-block;
	font-family: 'fontawesome', arial, san-serif;
	vertical-align: baseline;
	line-height: $font-size-base;
	font-size: $font-size-base;
	padding: 4px 8px 5px;
	box-sizing: content-box;
	&:after {
		content: "\f05a";
	}
	&--active {
		color: #4DD6B7;
	}
	z-index: $zindex-popover - 1;

	&.beta-badge {
		width: 52px;
		height: 45px;
		position: absolute;
		padding: 0;
		top: 0;
		right: 15px;
		background-image: url('../images/beta-badge.png');
		background-position: 0 0;
		background-size: 52px 45px;
		background-repeat: no-repeat;
		&:after {
			display: none;
		}
		+ .popover-box {
			padding-top: 0 !important;
			margin-left: -10px !important;
			margin-top: -6px !important;
			> .popover-box__arrow {
				top: -10px !important;
			}
		}
	}
}


.beta-tag {
	display: inline-block;
	width: 53px;
	height: 20px;
	position: relative;
	padding: 0;
	top: 0;
	left: 0;
	margin-left: 5px;
	background-image: url('../images/beta-tag.png');
	background-position: 0 0;
	background-size: 53px 20px;
	background-repeat: no-repeat;
}
h1 .beta-tag {
	top: 20 - $h1-font-size / 2 - 5;
}
h2 .beta-tag {
	top: 20 - $h2-font-size / 2 - 5;
}
h3 .beta-tag {
	top: 20 - $h3-font-size / 2 - 5;
}
h4 .beta-tag {
	top: 20 - $h4-font-size / 2 - 6;
}
h5 .beta-tag {
	top: 20 - $h5-font-size;
}

.popover-box {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	text-align: left;
	display: none;
	max-width: $popover-max-width;
	color: #FFF;
	padding: 0;
	min-width: 200px;
	// Our parent element can be arbitrary since popovers are by default inserted as a sibling of their target element.
	// So reset our font and text properties to avoid inheriting weird values.
	// @include reset-text;
	font-size: 16px;
	background: $popover-bg;
	background-clip: content-box;
	z-index: $zindex-popover + 1;

	&.in {
		display: block;
	}

	// Offset the popover to account for the popover arrow
	&.top     { padding-top: -$popover-arrow-width + 8; }
	&.right   { padding-top: $popover-arrow-width; }
	&.bottom  { padding-bottom: $popover-arrow-width + 8; }
	&.left    { padding-top: $popover-arrow-width; }
}



.popover-box__title {
	margin: 0;
	padding: 20px 20px 0;
	font-size: $font-size-base;
	font-family: 'ralewaysemibold', arial, sans-serif;
}

.popover-box__content {
	padding: 10px 20px 20px;
	p {
		margin-top: 10px;
	}
	a {
		cursor: pointer; // Force pointer, sometimes it's ignored
	}
}

// Arrows
//
// .arrow is outer, .arrow:after is inner

.popover-box > .popover-box__arrow {
	&,
	&:after {
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
	}
}

.popover-box > .popover-box__arrow:after {
	border-width: $popover-arrow-width;
	content: "";
}

.popover-box {
	&.top > .popover-box__arrow {
		bottom: 0;
		left: 50%;
		margin-left: -10px;
		&:after {
			content: " ";
			border-bottom-width: 0;
			border-top-color: $popover-arrow-color;
		}
	}
	&.right > .popover-box__arrow {
		top: 0;
		&:after {
			content: " ";
			border-top-width: 0;
			border-bottom-color: $popover-arrow-color;
		}
	}
	&.bottom > .popover-box__arrow {
		top: -10px;
		left: 50%;
		margin-left: -10px;
		&:after {
			content: " ";
			border-top-width: 0;
			border-bottom-color: $popover-arrow-color;
		}
	}
	&.left > .popover-box__arrow {
		top: 0;
		right: 0;
		&:after {
			content: " ";
			right: 0;
			border-top-width: 0;
			border-bottom-color: $popover-arrow-color;
		}
	}
}