/*
	Style: Utility
	Version 1.0
	Date: 8-22-2016
	Author: Corey M. Capetillo
	5-1-16: Page Created
	8-22-16:
		- Add alignment for justify and nowrap
		- Flesh out responsive utilities
		- Allow compatability for old class nomiclature
*/

// Alignment helpers
.text--left {
	text-align: left !important;
}

.text--right {
	text-align: right !important;
}

.text--center {
	text-align: center !important;
}

.text--justify {
	text-align: justify !important;
    text-justify: inter-ideograph;
}

.text--nowrap {
	white-sace: nowrap;
}

.text--hide {
	@include text-hide;
}

.clearfix {
	@include clearfix;
}

// Responsive helpers: hidden
@media (max-width: $screen-xs-max) {
	@include responsive-hidden('.rc_hidden__xs');
	@include responsive-hidden('.rc_hidden-xs');
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	@include responsive-hidden('.rc_hidden__sm');
	@include responsive-hidden('.rc_hidden-sm');
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	@include responsive-hidden('.rc_hidden__md');
	@include responsive-hidden('.rc_hidden-md');
}
@media (min-width: $screen-lg-min) {
	@include responsive-hidden('.rc_hidden__lg');
	@include responsive-hidden('.rc_hidden-lg');
}

// Responsive helpers: visible
@media (max-width: $screen-xs-max) {
	@include responsive-visibility('.rc_visible__xs');
	@include responsive-visibility('.rc_visible-xs');
	// Display-type specific visibility
	.rc_visible__xs__block {
		display: block !important;
	}
	.rc_visible__xs__inline {
		display: inline !important;
	}
	.rc_visible__xs__inline-block {
		display: inline-block !important;
	}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	@include responsive-visibility('.rc_visible__sm');
	@include responsive-visibility('.rc_visible-sm');
	// Display-type specific visibility
	.rc_visible__sm__block {
		display: block !important;
	}
	.rc_visible__sm__inline {
		display: inline !important;
	}
	.rc_visible__sm__inline-block {
		display: inline-block !important;
	}
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	@include responsive-visibility('.rc_visible__md');
	@include responsive-visibility('.rc_visible-md');
	// Display-type specific visibility
	.rc_visible__md__block {
		display: block !important;
	}
	.rc_visible__md__inline {
		display: inline !important;
	}
	.rc_visible__md__inline-block {
		display: inline-block !important;
	}
}
@media (min-width: $screen-lg-min) {
	@include responsive-visibility('.rc_visible__lg');
	@include responsive-visibility('.rc_visible-lg');
	// Display-type specific visibility
	.rc_visible__lg__block {
		display: block !important;
	}
	.rc_visible__lg__inline {
		display: inline !important;
	}
	.rc_visible__lg__inline-block {
		display: inline-block !important;
	}
}

.updates {
	&__block {
		padding-bottom: 2em;
		border-bottom: 1px solid #EEE;
		margin-bottom: 2em;
		> ul,
		> ol,
		hr,
		p {
			margin-top: 1em !important;
			margin-bottom: 1em !important;
		}
		pre,
		code {
		}
		code {
			color: #ec3d10;
		}
		ul,
		ol {
			li {
				line-height: 1.61803em;
				margin-top: 0;
			}
		}
	}
}