/*
	Elements: Progress Bar
	Version 1.0
	Date: 5-12-2016
	Author: Corey M. Capetillo
	8-8-16:
		- Add Expand admin tools to now change the border color of textareas
	8-9-16:
		- Admin Tools will also color radio and checkbox inputs using the same shade of blue
		- No longer use the double-colon for :before or :after. Incompatible with all browsers
		- Add specific label classes to radio and checkbox admin classes
	8-29-16:
		- set :after on input__gropu.admin-recharge to display: table;
*/
.admin-recharge,
.admin-shopify,
.admin-bigcommerce {
	position: relative;
}

.admin-recharge:after,
.admin-shopify:after,
.admin-bigcommerce:after {
	font-family: fontawesome, arial;
    padding-left: 5px;
    font-weight: 500;
}

.admin-recharge:after {
	color: #FBA200;
	content: "\f005";
}

.admin-recharge {
	&.switch {
		&:after {
			content: "";
			display: none;
		}
		.switch__overlay {
			background-color: #53BAD3;
		}
	}
	&.rc_toggle-list__item {
		color: #53BAD3;
		&:after {
			content: "";
			display: none;
		}
		.switch {
			background-color: #53BAD3;
		}
		&.disabled {
			.switch {
				background-color: #FFF;
			}
		}
	}
	&.form__group {
		color: #53BAD3;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		.form__input,
		.form__input__code {
			color: #53BAD3;
			border: 1px solid #53BAD3;
			&:focus {
				border-color: #4DD6B7;
			}
			&::-webkit-input-placeholder {
				color: #53BAD3;
			}
			&:-moz-placeholder {
				color: #53BAD3;
			}
			&::-moz-placeholder {
				color: #53BAD3;
			}
			&:-ms-input-placeholder {
				color: #53BAD3;
			}
		}
		.form__radio,
		.form__checkbox {
			+ .form__radio__label,
			+ .form__checkbox__label {
				&:before {
					border-color: #53BAD3;
				}
			}
			&:checked {
				+ .form__radio__label,
				+ .form__checkbox__label {
					&:before {
						background-color: #53BAD3;
					}
				}
			}
		}
	}
}

.admin-shopify::after {
	color: #7AB55C;
	content: "\f005  Shopify";
}
.admin-bigcommerce::after {
	color: #4A8BF2;
	content: "\f005  BigCom";
}

.navbar__brand--shopify {
	background-image: url('../images/navbar__brand--shopify.svg');

	@media screen and (min-width: 355px) and (max-width: 915px){ // max-width: 955px // 420px // $screen-xs-max
		background-image: url('../images/navbar__brand--mobile--shopify.svg');
	}
}
.navbar__brand--bigcommerce {
	background-image: url('../images/navbar__brand--bigcommerce.svg');

	@media screen and (min-width: 355px) and (max-width: 915px){ // max-width: 955px // 420px // $screen-xs-max
		background-image: url('../images/navbar__brand--mobile--bigcommerce.svg');
	}
}