/*
	Components: Dropdowns
	Version 2.0
	Date: 7-21-2016
	Author: Corey M. Capetillo

	5-5-2016
		- Conception
	7-21-2016
		- .dropdown gets the .button padding removed
		- The inner link now receives that padding (7px 15px)
		- 'left' position removed from caret
		- 'left-margin' added to caret for even spacing between it and the dropdown button text
	8-15-2016
		- Make adjustments to dropdown so it supports having h1-h5 elements as the target-link for the dropdown
		- Use negative-marign to fix h1-h5 tags
		- Dropdown menu needs to be semi-bold
	10-04-2016:
		- Add a '--settings' flag, which removes horizontal padding and the chevron. Force the cursor: pointer; and greatly changes coloring
*/

.dropdown {
	position: relative;
	padding: 0;
	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5 {
		display: inline;
	}
	&--left {
		.dropdown__menu {
			left: 0;
			right: auto;
		}
	}
	&--right {
		@media screen and (min-width: $screen-sm-min) {
			display: inline-block;
			.dropdown__menu {
				left: auto;
				right: 0;
			}
		}
	}
	&--open {
		.dropdown__trigger {
			&:after {
				content: '\f0d8';
				top: -1px;
			}
		}
		.dropdown__menu {
			display: block !important;
		}
	}
	&--settings {
		&.dropdown--open {
			.dropdown__trigger {
				color: $color-primary;
			}
		}
		.dropdown__trigger {
			padding-left: 0;
			padding-right: 0;
			cursor: pointer;

			&:after {
				display: none;
			}
		}
		.dropdown__menu {
			background-color: $gray-darker;
			margin-top: 10px;
			li {
				&.active,
				&:hover,
				&:active {
					> a {
						background-color: $color-primary;
						display: block;
					}
				}
			}
			&:before {
				content: "";
				border: 10px solid transparent;
				position: absolute;
				top: -20px;
				right: 0;
				border-bottom-color: $gray-darker;
			}
		}
		@media screen and (max-width: $screen-xs-max) {
			width: 100%;
			text-align: right;

			&:before,
			&:after {
				@include clearfix();
			}
			.dropdown__menu.list {
				width: 100%;
			}
		}
	}
}

.dropdown__trigger {
	position: relative;
	display: block;
    color: inherit;
	line-height: $line-height-base;
	padding: $padding-base-vertical $padding-base-horizontal;
	&:hover,
	&:hover {
		color: inherit;
	}
	&:after {
		content: '\f0d7';
		position: relative;
		font-family: FontAwesome;
		font-weight: normal;
		font-size: 19px;
		line-height: 1;
		display: inline-block;
		margin-right: 1px;

		top: 2px;
		margin-left: 10px;
	}
	> h1, > .h1,
	> h2, > .h2,
	> h3, > .h3,
	> h4, > .h4,
	> h5, > .h5,
	> h6, > .h6,
	> a, > span {
		top: 2px;
		position: relative;
		// margin-right: -$padding-base-horizontal / 2;
		// margin-left: -$padding-base-horizontal;
	}
	@media screen and (max-width: $screen-xs-max) {
		display: table;
		width: 100%;
		> h1, > .h1,
		> h2, > .h2,
		> h3, > .h3,
		> h4, > .h4,
		> h5, > .h5,
		> h6, > .h6,
		> a, > span {
			display: table-cell;
		}
		&:after {
			display: table-cell;
			padding-left: 10px;
		}
	}
}

.dropdown__menu {
	display: none;
	position: absolute;
	text-align: left;
    top: 100%;
	min-width: 240px;
	left: 0;
	right: auto;
	z-index: $zindex-dropdown;
	background-color: $gray-dark;
	font-family: "raleway-semibold", arial, non-serif;
	font-weight: normal;
	li {
		width: 100%;
		color: $white;
		&:empty {
			border-bottom: 1px solid $white;
		}
		&.active,
		&:hover,
		&:active {
			> a {
				background-color: $brand-blue;
				display: block;
			}
		}
		> a,
		> span {
			height: 40px;
			line-height: 40px;
			color: inherit;
			padding: 0 18px;
		}
	}
}