/* 
	Element: Notifications
	Version 1.0
	Date: 10-14-2016
	Author: Corey M. Capetillo
	10-14-2016:
		- Creation
	10-21-2016:
		- Create a review banner
	10-24-2016:
		- Even out spacing for mobile version
*/

.rc_notifications {
	display: block;
	position: relative;
	margin: 0;
	padding: $padding-large-vertical 0;
	color: #FFF;
	.fa {
		color: #FFF;
	}
	.button {
		background-color: #FFF;
		text-decoration: none;
	}
	a,
	a:link
	a:hover,
	a:focus,
	a:active {
		color: #FFF;
	}
	&__title {
		font-size: $h4-font-size;
	}
	&__header {
		display: block;
		width: 100%;
		margin-bottom: $padding-large-vertical / 1.5;
		padding: 0 $padding-large-horizontal;
		padding-left: $padding-large-horizontal * 2;
		line-height: 1;

		&:before {
			font-family: "fontawesome";
			font-size: 20px;
			position: absolute;
			top: $padding-large-vertical;
			left: $padding-large-horizontal / 2;
			width: 30px;
			height: 20px;
			display: block;
		}
	}
	&__content {
		padding: 0 $padding-large-horizontal * 2 $padding-large-vertical / 2;
		// @media screen and (max-width: $screen-xs-max) {
		// 	padding: 0 $padding-large-horizontal $padding-large-vertical $padding-large-horizontal / 2;
		// }

		p {
			@extend strong;
		}
		a {
			text-decoration: underline;
		}
	}
	&__close {
		width: 19px;
		height: 18px;
		padding: 0;
		box-sizing: border-box;
		position: absolute;
		top: $padding-large-vertical;
		right: $padding-large-horizontal / 2;
		cursor: pointer;
		z-index: 30;

		&:before {
			content: "\f00d";
			font-size: 24px;
			font-family: "fontawesome";
			margin-top: -5px;
			width: 19px;
			height: 18px;
			display: block;
		}
	}
}

.rc_notifications {
	&--error {
		background-color: $red;
		.rc_notifications__header:before {
			content: "\f071";
		}
		.rc__notifications__close {
			display: none;
		}
		.button {
			&,
			&:hover,
			&:active,
			&:focus {
				color: $red;
			}
		}
	}

	&--warning {
		background-color: $orange;
		.rc_notifications__header:before {
			content: "\f071";
		}
		.button {
			&,
			&:hover,
			&:active,
			&:focus {
				color: $orange;
			}
		}
	}

	&--success {
		background-color: $aquamarine;
		.rc_notifications__header:before {
			content: "\f058";
		}
		.rc__notifications__close {
			display: none;
		}
		.button {
			&,
			&:hover,
			&:active,
			&:focus {
				color: $aquamarine;
			}
		}
	}

	&--review {
		background-color: $blue;
		text-align: center;
		padding-bottom: 11.3333333333px;
		@media screen and (min-width: $screen-sm-min) {
			p {
    			vertical-align: middle;
				height: 40px;
    			line-height: 40px;
				display: inline-block;
				+ * {
					margin-left: 22px;
				}
			}
		}
		&.reviewed .rc__notifications__close {
			display: none;
		}
		.button {
			&,
			&:hover,
			&:active,
			&:focus {
				color: $blue;
			}
			@media screen and (max-width: $screen-xs-max) {
				margin-top: 10px;
				display: block;
			}
		}
	}
}

.rating {
	@extend .list;
	@extend .list--inline;

	display: inline-block;
	position: relative;
	top: 2px;

	.rating__star {
		cursor: pointer;
		padding: 0 3px 0 1px;
		position: relative;

		&:before {
			content: "\f006";
			display: inline-block;
			font-size: 16px;
			font-family: 'fontawesome';
		}
		&:hover,
		&.active {
			&:before {
				content: "\f005";
			}
		}
	}
}

.error-list {
	@extend .list;
}

#rating__unrated {
	position: absolute;
	width: 100%;
	left: -40px;
	z-index: 30;
	top: 50%;
	transform: translateY(-45%);
}

#rating__rated {
	opacity: 0;
}