/* 
	Element: Switches
	Version 1.0
	Date: 5-5-2016
	Author: Corey M. Capetillo
	8-15-16:
		- Make switches inline-block;
		- Set switch buttons to box-sizing: border-box;
		- Add padding on either end as 5px;
		- Set font-weight to medium
	8-24-16:
		- Add a smaller switch, which should have no text
*/
$switch-height: 34px;
$switch-large-height: 44px;
$switch-small-height: 20px;

.switch {
	font-family: 'raleway-medium', arial, sans-serif;
	font-size: $font-size-small;
	background-color: $gray-lighter;
	color: $gray-darker;
	display: inline-block;
	cursor: pointer;
	height: $switch-height;
	line-height: $switch-height;
	border-radius: $switch-height / 2;
	position: relative;
	vertical-align: middle;
	&--large {
		min-width: 300px;
		width: 100%;
		max-width: 500px;
		line-height: $switch-large-height;
		height: $switch-large-height;
		border-radius: $switch-large-height / 2;
		font-size: $font-size-base;
		.switch__overlay {
			height: $switch-large-height;
			border-radius: $switch-large-height / 2;
		}
		.switch__left,
		.switch__right {
			transition: color .3s;
		}
		.switch__left {
			color: $white;
		}
		.switch__right {
			color: $black;
		}
		.switch__input:checked {
			+ .switch__overlay + .switch__left {
				color: $black;
			}
			+ .switch__overlay + .switch__left + .switch__right {
				color: $white;
			}
		}
	}
	&--small {
		min-width: 10px;
		width: 100%;
		max-width: $switch-small-height * 2;
		line-height: $switch-small-height;
		height: $switch-small-height;
		border-radius: $switch-small-height / 2;
		font-size: 0;
		.switch__left,
		.switch__right {
			font-size: 0;
		}
		.switch__overlay {
			height: $switch-small-height;
			border-radius: $switch-small-height / 2;
		}
	}
}
.switch__input {
	display: none;
}
.switch__overlay {
	height: $switch-height;
	width: 50%;
	position: absolute;
	z-index: 10;
	left: 0%;
	right: 50%;
	display: block;
	transition: all .3s;
	background: $switch-on-background;
	border-radius: $switch-height / 2;
}
.switch__left,
.switch__right {
    box-sizing: border-box;
	display: inline-block;
	width: 50%;
	text-align: center;
	position: relative;
	z-index: 20;
	padding-left: $switch-height / 2;
	padding-right: $switch-height / 2;
	@media screen and (max-width: $screen-sm-max) {
		overflow: hidden;
	}
}
.switch__left {
	float: left;
}
.switch__right {
	float: right;
}
.switch--checked .switch__input + .switch__overlay,
.switch__input:checked + .switch__overlay {
	left: 50%;
	right: 50%;
}