/* 
	Components: Info Bars
	Version 1.0
	Date: 6-26-2016
	Author: Corey M. Capetillo
	- Added the old title-info element for organization
	8-4-2016: 
		- page-titles added
	8-15-2016:
		- Give inline-buttons margin between eachother
*/

.page-title {
	width: 100%;
	min-height: 40px;
    margin-top: 23px;
    margin-bottom: 38px;
	h1, .h1 {
		margin-top: 0;
		margin-bottom: 0;
	}
	&__description {
		display: table;
		width: 100%;
		font-size: $font-size-base;
		text-align: left;
		p {
			margin: 15px 0;
		}
	}
}

.info-bar {
	display: table;
	width: 100%;
	&__label,
	&__content {
		display: table-cell;
	}
	&__label {
		text-align: left;
	}
	&__content {
		text-align: right;
		white-space: nowrap;
	}
}

.title-bar {
	display: table;
	width: 100%;
	min-height: 40px;
	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		margin-top: 0;
		margin-bottom: 0;
	}
	&__title,
	&__content {
		display: table-cell;
		vertical-align: top;
	}
	&__content {
		text-align: right;
		font-size: $font-size-base;
		white-space: nowrap;
		.button + .button {
			margin-left: 9px;
		}
		.switch {
			vertical-align: middle;
		}
	}
}

/* This will be removed */
.title-info {
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	font-family: 'ralewayregular', arial, sans-serif;
	
	a {
		text-decoration: underline;
	}
	&.pull-right,
	&.pull-left {
		@media screen and (max-width: $screen-xs-max){
			float: none !important;
			display: block;
			text-align: left;
		}
	}
}