/*
	Element: Toggle List
	Version 1.0
	Date: 8-24-2016
	Author: Corey M. Capetillo
	8-24-2016:
		- Create the toggle list, based on the action-list, but with additional classes to demonstrate a disabled state. Will work with switches
	8-30-2016:
		- Remove border division from toggles
	9-28-2016:
		- Create a specialized version for Discounts
		- Play with the idea of having rc_detail-text
*/

.rc_detail-text {
	font-size: $font-size-small;
}

.rc_toggle-list {
	display: table;
	width: 100%;
	&__item {
		display: table-row;
		width: 100%;
		text-align: left;
		&__content,
		&__action {
			display: table-cell;
			vertical-align: middle;
			padding: 8px 15px;
		}
		&__content {
			text-align: left;
			> * {
				vertical-align: middle;
			}
		}
		&__action {
			text-align: right;
			padding-left: 15px;
			.fa {
				font-size: 20px;
				color: #8E8F8E;
				position: relative;
				top: 2px;
			}
		}
		&:last-child {
			.rc_toggle-list__item__content,
			.rc_toggle-list__item__action {
				border-bottom-width: 0 !important;
			}
		}
	}
	.switch {
		background-color: $color-primary;
		transition: background .3s;
		&__overlay {
			background: $gray;
		}
	}
	&__item {
		.disabled_status {
			display: none;
		}
	}
	&__item.disabled {
		background-color: $gray-lighter;
		color: $gray;
		.rc_toggle-list__item__content {
			a {
				color: $gray;
			}
			.disabled_status {
				font-weight: normal;
				font-family: 'ralewaysemibold';
				color: $gray-darker;
				font-size: $font-size-small;
				display: inline-block;
				margin-left: 4px;
			}
		}
		.switch {
			background-color: $white;
		}
	}
}

&--small {
	min-width: 10px;
	width: 100%;
	max-width: $switch-small-height * 2;
	line-height: $switch-small-height;
	height: $switch-small-height;
	border-radius: $switch-small-height / 2;
	font-size: 0;
	.switch__left,
	.switch__right {
		font-size: 0;
	}
	.switch__overlay {
		height: $switch-small-height;
		border-radius: $switch-small-height / 2;
	}
}

@media screen and (max-width: 767px) {
	#discount_list {
		.rc_toggle-list {
			&__item {
				font-size: 0;
				&__content,
				&__action {
					display: inline-block;
					font-size: 16px;
					box-sizing: border-box;
				}
				&__content {
					font-size: 16px;
				}
				&__action {
					white-space: nowrap;
				}
				&__content:first-child {
					width: 75%;
				}
				&__content:nth-child(2) {
					width: 25%;
					text-align: right;
					padding-right: 15px;
				}
				&__content:nth-child(3),
				&__content:nth-child(4) {
					width: 35%;
					text-align: left;
					position: relative;
				}
				&__action:nth-child(5) {
					padding-right: 0;
				}
				&__action:nth-child(5),
				&__action:nth-child(6) {
					width: 15%;
					text-align: right;
				}
				&__action + .rc_toggle-list__item__action {
					padding-left: 0;
				}
			}
		}
	}
}