/*
	5-5-2016 - Create this file
	5-10-2016 - Add .new wrapper and admin_utilities.scss
	7-14-2016 - Re-organized sass structure of files and group nomiclature
	8-3-206 - Move #installation-animation to animation.scss and include with style
			- .Header will now be setup-header and be grouped within components
*/
/*
	Common
	Resets, browser normalization, css utilities. Items that don't fit in any one group, but serve an important purpose
*/
/*

	8-10-16:
		- Add variables for fieldset margin
		- Adjust z-index. Popovers and tooltips were appearing over modal overlay
*/
/* Colors */
.recharge {
  /*
  	Style: Utility
  	Version 1.0
  	Date: 8-22-2016
  	Author: Corey M. Capetillo
  	5-1-16: Page Created
  	8-22-16:
  		- Add alignment for justify and nowrap
  		- Flesh out responsive utilities
  		- Allow compatability for old class nomiclature
  */
  /*
  	Layouts
  	Bare-bone html elements. Essential to the general look and feel. Class nomiclature follows standard HTML naming conventions, but CSS selectors are used for their improved rendering speed.
  */
  /* Tables */
  /* 
  	Element: Buttons
  	Version 1.0
  	Date: 5-5-2016
  	Author: Corey M. Capetillo
  	5-5-2016
  		- Creation date
  	7-22-2016
  		- Removed !important from button links
  		- Add hover-colors for button--links
  */
  /* 
  	Element: Forms
  	Version 1.1
  	Date: 5-5-2016
  	Author: Corey M. Capetillo
  	8-17-16:
  		- Create RC version
  */
  /*
  	Layout
  	Structural elements dependant on each other to build out a page. Houses Components.
  */
  /*
  	Components
  	Typically made up of Elements, grouped with with a unique class identifier. Serves a specific, but widely-used purpose.
  */
  /* 
  	Components: Info Bars (Proxy)
  	Version 1.0
  	Date: 8-4-2016
  	Author: Corey M. Capetillo
  	8-3-2016:
  		- Added the old title-info element for organization
  	8-16-2016:
  		- Make the margin-bottom less aggressive
  		- Add rc_page-title
  */
  /*
  	Dynamic
  	Heavily dependant on javascript to deliver a specific effect.
  */
  /* 
  	Dynamic: Modals
  	Version 1.0
  	Date: 8-17-2016
  	Author: Corey M. Capetillo
  	8-17-2016:
  		- Abstract modals outside of original file
  */
  /*
  	Vendors
  	Impoted libraries, generally serving a singular purpose.
  */
  /* Temporary fix until we no longer need to use .new {} */
  /*
  	Misc
  	Items that don't fit anywhere else. Usually found in a singular location within the app.
  */ }
  .recharge .text--left {
    text-align: left !important; }
  .recharge .text--right {
    text-align: right !important; }
  .recharge .text--center {
    text-align: center !important; }
  .recharge .text--justify {
    text-align: justify !important;
    text-justify: inter-ideograph; }
  .recharge .text--nowrap {
    white-sace: nowrap; }
  .recharge .text--hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0; }
  .recharge .clearfix:before, .recharge .clearfix:after {
    content: " ";
    display: table; }
  .recharge .clearfix:after {
    clear: both; }
  @media (max-width: 767px) {
    .recharge .rc_hidden__xs {
      display: none !important; }
    .recharge .rc_hidden-xs {
      display: none !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .recharge .rc_hidden__sm {
      display: none !important; }
    .recharge .rc_hidden-sm {
      display: none !important; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .recharge .rc_hidden__md {
      display: none !important; }
    .recharge .rc_hidden-md {
      display: none !important; } }
  @media (min-width: 1200px) {
    .recharge .rc_hidden__lg {
      display: none !important; }
    .recharge .rc_hidden-lg {
      display: none !important; } }
  @media (max-width: 767px) {
    .recharge .rc_visible__xs {
      display: initial !important; }
    .recharge table.rc_visible__xs {
      display: table !important; }
    .recharge th.rc_visible__xs,
    .recharge td.rc_visible__xs {
      display: table !important; }
    .recharge thead.rc_visible__xs {
      display: table-header-group !important; }
    .recharge b.rc_visible__xs,
    .recharge strong.rc_visible__xs,
    .recharge i.rc_visible__xs,
    .recharge em.rc_visible__xs,
    .recharge span.rc_visible__xs,
    .recharge a.rc_visible__xs {
      display: inline; }
    .recharge .rc_visible-xs {
      display: initial !important; }
    .recharge table.rc_visible-xs {
      display: table !important; }
    .recharge th.rc_visible-xs,
    .recharge td.rc_visible-xs {
      display: table !important; }
    .recharge thead.rc_visible-xs {
      display: table-header-group !important; }
    .recharge b.rc_visible-xs,
    .recharge strong.rc_visible-xs,
    .recharge i.rc_visible-xs,
    .recharge em.rc_visible-xs,
    .recharge span.rc_visible-xs,
    .recharge a.rc_visible-xs {
      display: inline; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .recharge .rc_visible__sm {
      display: initial !important; }
    .recharge table.rc_visible__sm {
      display: table !important; }
    .recharge th.rc_visible__sm,
    .recharge td.rc_visible__sm {
      display: table !important; }
    .recharge thead.rc_visible__sm {
      display: table-header-group !important; }
    .recharge b.rc_visible__sm,
    .recharge strong.rc_visible__sm,
    .recharge i.rc_visible__sm,
    .recharge em.rc_visible__sm,
    .recharge span.rc_visible__sm,
    .recharge a.rc_visible__sm {
      display: inline; }
    .recharge .rc_visible-sm {
      display: initial !important; }
    .recharge table.rc_visible-sm {
      display: table !important; }
    .recharge th.rc_visible-sm,
    .recharge td.rc_visible-sm {
      display: table !important; }
    .recharge thead.rc_visible-sm {
      display: table-header-group !important; }
    .recharge b.rc_visible-sm,
    .recharge strong.rc_visible-sm,
    .recharge i.rc_visible-sm,
    .recharge em.rc_visible-sm,
    .recharge span.rc_visible-sm,
    .recharge a.rc_visible-sm {
      display: inline; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .recharge .rc_visible__md {
      display: initial !important; }
    .recharge table.rc_visible__md {
      display: table !important; }
    .recharge th.rc_visible__md,
    .recharge td.rc_visible__md {
      display: table !important; }
    .recharge thead.rc_visible__md {
      display: table-header-group !important; }
    .recharge b.rc_visible__md,
    .recharge strong.rc_visible__md,
    .recharge i.rc_visible__md,
    .recharge em.rc_visible__md,
    .recharge span.rc_visible__md,
    .recharge a.rc_visible__md {
      display: inline; }
    .recharge .rc_visible-md {
      display: initial !important; }
    .recharge table.rc_visible-md {
      display: table !important; }
    .recharge th.rc_visible-md,
    .recharge td.rc_visible-md {
      display: table !important; }
    .recharge thead.rc_visible-md {
      display: table-header-group !important; }
    .recharge b.rc_visible-md,
    .recharge strong.rc_visible-md,
    .recharge i.rc_visible-md,
    .recharge em.rc_visible-md,
    .recharge span.rc_visible-md,
    .recharge a.rc_visible-md {
      display: inline; } }
  @media (min-width: 1200px) {
    .recharge .rc_visible__lg {
      display: initial !important; }
    .recharge table.rc_visible__lg {
      display: table !important; }
    .recharge th.rc_visible__lg,
    .recharge td.rc_visible__lg {
      display: table !important; }
    .recharge thead.rc_visible__lg {
      display: table-header-group !important; }
    .recharge b.rc_visible__lg,
    .recharge strong.rc_visible__lg,
    .recharge i.rc_visible__lg,
    .recharge em.rc_visible__lg,
    .recharge span.rc_visible__lg,
    .recharge a.rc_visible__lg {
      display: inline; }
    .recharge .rc_visible-lg {
      display: initial !important; }
    .recharge table.rc_visible-lg {
      display: table !important; }
    .recharge th.rc_visible-lg,
    .recharge td.rc_visible-lg {
      display: table !important; }
    .recharge thead.rc_visible-lg {
      display: table-header-group !important; }
    .recharge b.rc_visible-lg,
    .recharge strong.rc_visible-lg,
    .recharge i.rc_visible-lg,
    .recharge em.rc_visible-lg,
    .recharge span.rc_visible-lg,
    .recharge a.rc_visible-lg {
      display: inline; } }
  .recharge .updates__block {
    padding-bottom: 2em;
    border-bottom: 1px solid #EEE;
    margin-bottom: 2em; }
    .recharge .updates__block > ul,
    .recharge .updates__block > ol,
    .recharge .updates__block hr,
    .recharge .updates__block p {
      margin-top: 1em !important;
      margin-bottom: 1em !important; }
    .recharge .updates__block code {
      color: #ec3d10; }
    .recharge .updates__block ul li,
    .recharge .updates__block ol li {
      line-height: 1.61803em;
      margin-top: 0; }
  .recharge .rc_table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top; }
    .recharge .rc_table td:last-child {
      white-space: nowrap;
      width: 1%; }
  .recharge .rc_button {
    text-align: center;
    text-decoration: none;
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
    outline: 0;
    min-width: 100px;
    display: inline-block;
    cursor: pointer;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    white-space: nowrap;
    vertical-align: middle; }
  .recharge .button--large.button, .recharge .rc_modal__actions .button {
    font-size: inherit; }
  .recharge .rc_button.rc_button--link.rc_button--alt {
    text-decoration: none; }
  .recharge .form__actions, .recharge .rc_modal__actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 60px; }
    .recharge .form__actions .button, .recharge .rc_modal__actions .button {
      -webkit-box-flex: 100%;
      -webkit-flex: 100%;
          -ms-flex: 100%;
              flex: 100%; }
      .recharge .form__actions .button + .button, .recharge .rc_modal__actions .button + .button {
        margin-left: 13px; }
  .recharge .rc_layout__container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px; }
    .recharge .rc_layout__container:before, .recharge .rc_layout__container:after {
      content: " ";
      display: table; }
    .recharge .rc_layout__container:after {
      clear: both; }
    @media (min-width: 768px) {
      .recharge .rc_layout__container {
        max-width: 740px; } }
    @media (min-width: 992px) {
      .recharge .rc_layout__container {
        max-width: 960px; } }
    @media (min-width: 1200px) {
      .recharge .rc_layout__container {
        max-width: 1160px; } }
  .recharge .rc_layout {
    margin-left: -10px;
    margin-right: -10px; }
    .recharge .rc_layout:before, .recharge .rc_layout:after {
      content: " ";
      display: table; }
    .recharge .rc_layout:after {
      clear: both; }
  .recharge .rc_layout__container {
    box-sizing: border-box; }
    .recharge .rc_layout__container:before {
      display: table;
      content: " "; }
  .recharge .rc_layout {
    margin-left: -10px;
    margin-right: -10px;
    box-sizing: border-box; }
    .recharge .rc_layout:before, .recharge .rc_layout:after {
      content: " ";
      display: table; }
    .recharge .rc_layout:after {
      clear: both; }
  .recharge .rc_layout__sidebar {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .recharge .rc_layout__sidebar {
        position: relative;
        float: left;
        width: 25%;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px; } }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .recharge .rc_layout__sidebar {
        position: relative;
        float: left;
        width: 25%;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px; } }
    @media screen and (min-width: 1200px) {
      .recharge .rc_layout__sidebar {
        position: relative;
        float: left;
        width: 25%;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px; } }
  .recharge .rc_layout__content {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .recharge .rc_layout__content {
        position: relative;
        float: left;
        width: 66.6666666667%;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px; } }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .recharge .rc_layout__content {
        position: relative;
        float: left;
        width: 75%;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px; } }
    @media screen and (min-width: 1200px) {
      .recharge .rc_layout__content {
        position: relative;
        float: left;
        width: 75%;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px; } }
  .recharge .rc_layout__full {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px; }
  .recharge .rc_page-title {
    width: 100%;
    min-height: 40px; }
    .recharge .rc_page-title h1, .recharge .rc_page-title .h1 {
      margin-top: 0; }
    .recharge .rc_page-title__description {
      display: table;
      width: 100%;
      font-size: 16px;
      text-align: left; }
  .recharge .rc_info-bar {
    display: table;
    width: 100%; }
    .recharge .rc_info-bar__label, .recharge .rc_info-bar__content {
      display: table-cell;
      vertical-align: top; }
    .recharge .rc_info-bar__label {
      text-align: left; }
    .recharge .rc_info-bar__content {
      text-align: right;
      white-space: nowrap; }
  .recharge .rc_title-bar {
    display: table;
    width: 100%;
    min-height: 40px; }
    .recharge .rc_title-bar h1, .recharge .rc_title-bar .h1,
    .recharge .rc_title-bar h2, .recharge .rc_title-bar .h2,
    .recharge .rc_title-bar h3, .recharge .rc_title-bar .h3,
    .recharge .rc_title-bar h4, .recharge .rc_title-bar .h4,
    .recharge .rc_title-bar h5, .recharge .rc_title-bar .h5,
    .recharge .rc_title-bar h6, .recharge .rc_title-bar .h6 {
      margin-top: 0; }
    .recharge .rc_title-bar__title, .recharge .rc_title-bar__content {
      display: table-cell;
      vertical-align: top; }
    .recharge .rc_title-bar__content {
      text-align: right;
      font-size: 16px;
      white-space: nowrap; }
  .recharge .rc_modal {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 90;
    -webkit-overflow-scrolling: touch;
    outline: 0; }
    .recharge .rc_modal__close {
      font-family: fontawesome;
      position: absolute;
      top: 30px;
      right: 30px;
      border: 0;
      padding: 0;
      background: transparent;
      outline: 0;
      cursor: pointer;
      z-index: 90; }
      .recharge .rc_modal__close:before {
        content: "\f00d";
        font-size: 24px; }
    .recharge .rc_modal__title {
      padding-right: 42px; }
    .recharge .rc_modal__content {
      position: relative;
      background-color: #ffffff;
      background-clip: padding-box;
      outline: 0;
      padding: 35px 30px; }
      .recharge .rc_modal__content img {
        max-width: 100%;
        height: auto; }
      .recharge .rc_modal__content h1, .recharge .rc_modal__content .h1,
      .recharge .rc_modal__content h2, .recharge .rc_modal__content .h2,
      .recharge .rc_modal__content h3, .recharge .rc_modal__content .h3,
      .recharge .rc_modal__content h4, .recharge .rc_modal__content .h4,
      .recharge .rc_modal__content h5, .recharge .rc_modal__content .h5 {
        color: #424242; }
      .recharge .rc_modal__content h3, .recharge .rc_modal__content .h3 {
        font-family: 'ralewaysemibold', arial, sans-serif; }
    @media (min-width: 768px) {
      .recharge .rc_modal--small {
        width: 300px; } }
    @media (min-width: 992px) {
      .recharge .rc_modal--large {
        width: 900px; } }
  .recharge .rc_modal.rc_fade .rc_modal__dialog {
    -webkit-transform: translate(0, -25%);
            transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }
  .recharge .rc_modal.rc_in .rc_modal__dialog {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  .recharge .rc_modal__dialog {
    position: relative;
    width: auto;
    margin: 10px; }
    @media (min-width: 768px) {
      .recharge .rc_modal__dialog {
        width: 700px;
        margin: 4% auto; } }
  .recharge .rc_modal__open {
    overflow: hidden; }
    .recharge .rc_modal__open .rc_modal {
      overflow-x: hidden;
      overflow-y: auto; }
  .recharge .rc_modal__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 80;
    background-color: #000; }
    .recharge .rc_modal__backdrop.rc_fade {
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: opacity 0.2s linear;
      transition: opacity 0.2s linear; }
    .recharge .rc_modal__backdrop.rc_in, .recharge .rc_modal__backdrop.rc_fade.rc_in {
      opacity: 0.7;
      filter: alpha(opacity=70); }
  .recharge .rc_modal__scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll; }
  .recharge .rc_modal__actions {
    margin-top: 0;
    margin-bottom: 0; }
  .recharge .fade,
  .recharge .rc_fade {
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear; }
    .recharge .fade.in, .recharge .fade.rc_in,
    .recharge .rc_fade.in,
    .recharge .rc_fade.rc_in {
      opacity: 1; }

.rc_modal__open {
  overflow: hidden; }

.rc_modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 80;
  background-color: #000; }
  .rc_modal__backdrop.rc_fade {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear; }
  .rc_modal__backdrop.rc_in, .rc_modal__backdrop.rc_fade.rc_in {
    opacity: 0.7;
    filter: alpha(opacity=70); }

/*# sourceMappingURL=proxy.css.map */