/*
	8-10-16:
		- Tooltips will now be simplified, removing header and will be inline instead of overlaied with javascript
*/
.admin-tools {
	background-color: #53BAD3;
	color: #FFF;

	box-sizing: border-box;
	padding: 20px;

	left: 0;
	width: 100%;

	/* Temporary fix for the excessive ammount of margin on the bottom of the page that appears when this is used. This is because the footer has a top-margin of 30 pixels and the PUSH has a bottom margin of 80px */
	margin-bottom: -110px;

	&__toggler {
		background-color: transparent;
		font-family: monospace;
		border-width: 0;
		padding: 0;
		color: #FFF;
		button {
			font-size: 11px !important;
			padding: 4px 8px;
			line-height: 1;
			height: auto;
			cursor: pointer;
		}
	}
}