/*
	8-10-16:
		- Tooltips will now be simplified, removing header and will be inline instead of overlaied with javascript
	8-31-16:
		- The layout container should not use pixel width if within the admin tools section
*/
.admin-tools {
	background-color: #53BAD3;
	color: #FFF;

	box-sizing: border-box;
	padding: 20px;

	left: 0;
	width: 100%;

	a {
		color: #FFF;
		text-decoration: underline;
	}

	.layout__container {
		width: 100%;
		max-width: $container-lg;
	}

	&__toggler {
		background-color: transparent;
		font-family: monospace;
		border-width: 0;
		padding: 0;
		color: #FFF;
		button {
			font-size: 11px !important;
			padding: 4px 8px;
			line-height: 1;
			height: auto;
			cursor: pointer;
		}
	}
	.rc_toggle-list__item {
		&,
		&.disabled {
			background-color: transparent;
			color: #FFF;
			a {
				color: #FFF;
			}
		}
	}
}