/* 
	Components: Footer
	Version 1.0
	Date: 5-12-2016
	Author: Corey M. Capetillo
*/
.footer {
	background-color: #424242;
	margin-top: $footer-margin;
	line-height: $footer-height;
	min-height: $footer-height;
	border-width: 0;
	text-align: center;
	@media screen and (max-width: $screen-xs-max) {
    	padding-top: 5px;
	}
	&__container {
		line-height: 0;
	}
	&__links {
		margin: 0;
		padding: 0;
		a {
			display: block;
			padding: 0 10px;
			height: $footer-height;
			line-height: $footer-height;
			color: $white;
			font-size: 12px;
			&:hover,
			&:focus {
				color: $white;
			}
			@media screen and (max-width: $screen-xs-max){
				line-height: 2em;
				height: auto;
			}
		}
	}
}