/*
	Components: Tabs
	Version 1.0
	Date: 9-1-2016
	Author: Corey M. Capetillo
	9-1-16:
		- Create the first page of tabs
		- Add the ability to use the grid system within the tab content. But because of the tab's background color, use display: table so the heights are equal
		- Add a statistics sidebar. Keep it in Tabs section for now
	9-8-16:
		- Remove width constraints from the .layout__container
		- Incorporate stats from embedded styles
*/
.tabs {
	&__header {
		min-height: 60px;
		position: relative;
		top: 1px;
	}
	&__list {
		@extend .list--inline;
		&__item {
			border-bottom: 1px solid $gray-lighter;
			@media screen and (max-width: $screen-xs-max) {
				display: block;
				width: 100%;
			}
			> span,
			> a {
				@extend .h3;
				height: 60px;
				line-height: 60px;
				white-space: nowrap;
				padding: 0 $padding-large-horizontal;
				display: block;
				color: $gray-darker;
			}
			&.active {
				> span,
				> a {
					background-color: $gray-lighter;
				}
			}
		}
	}
	&__content {
		background-color: $gray-lighter;
		padding: $padding-large-horizontal;
		.layout__container {
			width: 100%;
		}
		.layout__sidebar,
		.layout__content,
		.layout__full {
			padding: 20px;
		}
		.layout__sidebar,
		.layout__content,
		.layout__full,
		.grid__xs__1, .grid__sm__1, .grid__md__1, .grid__lg__1,
		.grid__xs__2, .grid__sm__2, .grid__md__2, .grid__lg__2,
		.grid__xs__3, .grid__sm__3, .grid__md__3, .grid__lg__3,
		.grid__xs__4, .grid__sm__4, .grid__md__4, .grid__lg__4,
		.grid__xs__5, .grid__sm__5, .grid__md__5, .grid__lg__5,
		.grid__xs__6, .grid__sm__6, .grid__md__6, .grid__lg__6,
		.grid__xs__7, .grid__sm__7, .grid__md__7, .grid__lg__7,
		.grid__xs__8, .grid__sm__8, .grid__md__8, .grid__lg__8,
		.grid__xs__9, .grid__sm__9, .grid__md__9, .grid__lg__9,
		.grid__xs__10, .grid__sm__10, .grid__md__10, .grid__lg__10,
		.grid__xs__11, .grid__sm__11, .grid__md__11, .grid__lg__11,
		.grid__xs__12, .grid__sm__12, .grid__md__12, .grid__lg__12 {
			background-color: #FFF;
		}
	}
}

.layout__container {
	.layout__sidebar--stats {
		background-color: #2C93AC;
		text-align: center;
		border-left: 20px solid $gray-lighter;
		@media screen and (max-width: $screen-xs-max) {
			border-top: 20px solid $gray-lighter;
			border-left-width: 0;
		}
	}
}

.layout__sidebar--stats {
	color: #FFF;
	a {
		color: #FFF;
	}
	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		color: #FFF;
	}
}

/* Stats */
.stat {
	padding: 30px auto;
	display: block;
	clear: both;
	&__value {
		margin-bottom: 10px;
	}
	&__label {
		margin: 0 auto 2px;
		line-height: 21px;
		max-width: 180px;
	}
	&--info {
		padding: 45px 0;
		background-color: #53BAD3;
		margin-top: -20px;
		margin-left: -20px;
		margin-right: -20px;
	}
	.rc_popover {
		text-align: left;
	}
	.popover-button,
	.tooltip-button {
		color: #FFF;
		&:hover,
		&:hover {
			color: #4dd6b7;
		}
	}
	.tooltip-box,
	.popover-box {
		width: 290px !important;
	}
}